body{
    font-family: Ubuntu, sans-serif;
    background: url(../img/background_main.png) no-repeat center / cover fixed;
}
.header{
    width: 100%;
    height: 58px;
    background-color:rgba(0, 0, 0, 0.4);
    padding-top: 17px;
    display: flex;
    justify-content: space-between;
    }
.header_logo{
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    margin-left: 79px;
    margin-right:704px;
}
.header_logo:hover, .header_login:hover, .header_signup:hover{
    color: darkgreen;
}
svg {
    width: 23px;
    height: 23px;
    fill: #FFFFFF;
    padding-right: 26px;
}
.border_after::after {
    content: "";
    border-left: 1px solid #FFFFFF;
    opacity: 0.5;
    padding-top: 13px;
}
svg:hover {
    fill: #01813F;
    transition: 0.5s;
}
.header_text{
    font-size: 14px;
    color: white;
}
.header_enter{
    padding: 5px 65px 0 25px;
}
.header_end{
    display: flex;
}
.main{
    position: absolute;
    margin: auto;
    top: calc(50% - 300px);
    left: calc(50% - 222px);
}
.form{
    position: relative;
    width: 444px;
    height: 600px;
    background: #FFFFFF;  
    border-radius: 2px;
}
.form_title{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.form_name{
    padding: 31px 216px 15px 43px;
    color: #434343;
    font-size: 20px;
    position: relative;
}
.form_name::before{
    position: absolute;
    left: 0;
    top: 33px;
    width: 18px;
    height: 18px;
    content:"";
    background-image: url(../img/square.png);
}
.form_log{
    padding-top: 33px;
    padding-right: 59px;
    font-size: 14px;
    color: #3CB878;
}
.form_log:hover{
    text-decoration: underline;
}
.two_buttons{
    display: flex;
    justify-content: center;
}
.facebook_button, .google_button{
    display: flex;
    align-items: center;
    width: 158px;
    height: 48px;
    border-radius: 3px;
    font-size: 16px;
    color: white;
}
.facebook_button{
    background: #305DB8;
    margin-right: 5px;
}
.facebook_button:hover{
    background: #022263;
}
.google_button{
    background: #DF4A32;
}
.google_button:hover{
    background: #AB1F09;
}
.fb_img{
    text-align: center;
    padding-left: 16px;
    padding-right: 37px;
}
.google_img{
    text-align: center;
    padding-left: 12px;
    padding-right: 38px;
}
.fb_text, .google_text{
    font-size: 16px;
    color: white;
    text-transform: capitalize;
}
.lines_or{
    display: flex;
    justify-content: center;
}
.line {
    width: 152px;
    border-bottom: 2px solid #F2F2F2;
    margin-bottom: 5px;
}

.or {
    font-size: 14px;
    color: #848484;
}

input {
    width: 324px;
    height: 44px;
    margin-bottom:15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-left: 60px;
    outline: none;
    color: #BEBEBE;
    padding-left: 20px;
    opacity: 0.8;
}
input:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    opacity: 1;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}
.container_checkbox {
    display: flex;
    justify-content: flex-start;
    margin-left: 65px;
    margin-top: 15px;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -1000px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    font-size: 14px;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-left: 3px solid #3CB878;
    border-bottom: 3px solid #3CB878;
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after{
    opacity: 0;
}

input[type="checkbox"]:checked + label:after{
    opacity: 1;
}
.terms{
    color:#01813F;
}
.terms:hover{
    text-decoration: underline;
}
.green_button{
    display: flex;
    margin: 20px 60px;
    background: rgb(42, 168, 103);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    }
.green_button_text{
    padding: 16px 99px;
    font-size: 16px;
    color: white;
}
.green_button:hover{
    background: #01813F;
}